In [56]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, DateTime

In [57]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [58]:
conn = engine.connect()

In [59]:
Base = declarative_base()

In [60]:
class Data(Base):
    __tablename__ = 'hawaii_data'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Integer)
    prcp = Column(Float)
    tobs = Column(Integer)
    month = Column(Integer)
    day = Column(Integer)
    year = Column(Integer)
    date_format = Column(DateTime)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [61]:
Base.metadata.create_all(engine)

In [62]:
df_=pd.read_csv('clean_datafile.csv', parse_dates=['date_format'])
df_.head()

,station,name,latitude,longitude,elevation,prcp,tobs,month,day,year,date_format
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.080000,65,1,1,2010,2010-01-01
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.000000,63,1,2,2010,2010-01-02
2,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.000000,74,1,3,2010,2010-01-03
3,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.000000,76,1,4,2010,2010-01-04
4,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.040086,73,1,6,2010,2010-01-06

In [63]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 11 columns):
station        19550 non-null object
name           19550 non-null object
latitude       19550 non-null float64
longitude      19550 non-null float64
elevation      19550 non-null float64
prcp           19550 non-null float64
tobs           19550 non-null int64
month          19550 non-null int64
day            19550 non-null int64
year           19550 non-null int64
date_format    19550 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 1.6+ MB

In [64]:
df_['date_format'] = pd.to_datetime(df_['date_format'])

In [65]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 11 columns):
station        19550 non-null object
name           19550 non-null object
latitude       19550 non-null float64
longitude      19550 non-null float64
elevation      19550 non-null float64
prcp           19550 non-null float64
tobs           19550 non-null int64
month          19550 non-null int64
day            19550 non-null int64
year           19550 non-null int64
date_format    19550 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 1.6+ MB

In [66]:
df_dict = df_.to_dict(orient='records')

In [67]:
df_dict[:5]

[{'date_format': Timestamp('2010-01-01 00:00:00'),
  'day': 1,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.08,
  'station': 'USC00519397',
  'tobs': 65,
  'year': 2010},
 {'date_format': Timestamp('2010-01-02 00:00:00'),
  'day': 2,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 63,
  'year': 2010},
 {'date_format': Timestamp('2010-01-03 00:00:00'),
  'day': 3,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 74,
  'year': 2010},
 {'date_format': Timestamp('2010-01-04 00:00:00'),
  'day': 4,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 76,
  'year': 2010},
 {'date_format': Timestamp('2010-01-06 00:00:00'),
  'day': 6,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.040085836909871206,
  'station': 'USC00519397',
  'tobs': 73,
  'year': 2010}]

In [68]:
metadata = MetaData(bind = engine)
metadata.reflect()

In [69]:
table = sqlalchemy.Table('hawaii_data', metadata, autoload=True)

In [70]:
conn.execute(table.delete())

In [71]:
conn.execute(table.insert(), df_dict)

In [72]:
conn.execute("select SUM(prcp) from hawaii_data WHERE (date_format BETWEEN '2010-01-01' AND '2010-01-02')").fetchall()
#https://stackoverflow.com/questions/1469689/select-mysql-query-between-date

[(1.06,)]

In [73]:
conn.execute("select * from hawaii_data WHERE (date_format BETWEEN '2010-01-01' AND '2010-01-02')").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, 0.08, 65, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (2725, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6, 0.28, 67, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (9008, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6, 0.21, 72, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (9519, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5, 0.15, 75, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (12188, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9, 0.15, 70, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (14960, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9, 0.05, 66, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (16939, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4, 0.14, 73, 1, 1, 2010, '2010-01-01 00:00:00.000000')]

In [74]:
0.08 + 0.28 + 0.21 + 0.15 + 0.15 + 0.05 + 0.14

1.06